<!DOCTYPE html>
<html lang="en" ng-app="radianDrive" ng-controller="ApplicationController">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Radian-drive.fr</title>

	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/font-awesome.min.css" rel="stylesheet">
	<link href="dist/app.css" rel="stylesheet">

</head>
<body ng-class="{ noshop : shop.id == 0 }">
	<div id="shop_select" ng-controller="ShopController">
		<div class="popup">
			<h4>Bonjour et bienvenue sur radian-drive.fr !</h4>
			<p>Avant toute chose, veuillez choisir le magasin le plus proche de chez vous parmi la liste :</p>
			<form ng-submit="submit()">
				<div class="form-group">
					<select name="shops" class="form-control" ng-model="selectedShop" ng-options="shop as shop.name for shop in shops" required>
					</select>
				</div>
				<button type="submit" class="btn btn-success" ng-disabled="! selectedShop">Accéder au drive</button>
			</form>
		</div>
	</div>

	<div class="wrapper">
		<div class="box">
			<div class="row">
				<!-- sidebar -->
				<div class="column col-sm-3" id="sidebar" ng-controller="MenuController" sidemenu>
					<div class="logo">
						<a href="#">
							Radian Drive
						</a><br />
						<span>{{ shop.name }}</span>
					</div>
					<ul class="nav">
						<li ng-class="{ 'dropdown' : section.categories }" ng-repeat="section in sections">
							<a ng-show="section.categories" href="">
								<i class="fa fa-angle-right pull-right"></i>
								{{ section.name }}
							</a>
							<ul ng-show="section.categories" class="nav">
								<li ng-repeat="category in section.categories">
									<a href="#/category/{{ category.id }}">{{ category.name }}</a>
								</li>
							</ul>
						</li>
					</ul>
					<ul class="nav" id="sidebar-footer">
						<li><a href="#/basket">Mon panier ({{ countBasket() }})</a></li>
						<li><a href="">Mon compte</a></li>
						<li ng-if="isAuthenticated()"><a href="#/disconnect">Déconnexion</a></li>
					</ul>
				</div>
				<!-- /sidebar -->

				<!-- main -->
				<div class="column col-sm-9" id="main">
					<div class="padding">
						<div class="full col-sm-12" ng-view>



						</div><!-- /col-9 -->
					</div><!-- /padding -->
				</div>
				<!-- /main -->

			</div>
		</div>
	</div>

	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.cookie.js"></script>
	<script src="js/moment.i8n.min.js"></script>
	<script src="js/angular.min.js"></script>
	<script src="js/angular-route.min.js"></script>
	<script src="js/lodash.min.js"></script>
	<script src="js/restangular.min.js"></script>
	<script src="conf.js"></script>
	<script src="dist/app.js"></script>
</body>
</html>