<h3>Mon panier</h3>

<table class="table table-striped">
	<tr>
		<th>Nom</th>
		<th>Quantité</th>
		<th>Prix</th>
	</tr>
	<tr ng-repeat="product in products">
		<td>{{ product.name }}</td>
		<td><input type="number" min="0" class="quantity" ng-model="product.quantity" value="{{ product.quantity }}"/></td>
		<td>{{ product.price }}</td>
	</tr>
</table>

<a href="#/basket/valid" class="btn btn-success">Valider la commande</a>
<button ng-click="update()" class="btn btn-primary">Mettre à jour</button>